h1 {
  text-align: center;
}

.board {
  height: 80%;
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: start;
  align-items: start;
  border: black 1px solid;
  border-radius: 5px;
}

.board div {
  margin:auto;
  background-color: white;
  width: 80%;
  height: 80%;
  text-align: center;
  border: black 1px solid;
  border-radius: 20px;
}

.board div:hover {
  background-color: lightgray;
}

div .x {
  background-image: url("https://i.pinimg.com/originals/54/87/36/54873617c26292ad3eed53cfb3106940.png");
  background-color: red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

div .o {
  background-image: url("https://aux.iconspalace.com/uploads/18541639051166164061.png");
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}
